<h1>Welcome!</h1>
<p>To play rock, paper, scissors simply have player 1 enter their chosen hand in the url bar after the word 'game', then have player two enter their chosen hand immediately afterwards.</p>
